* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.header {
  padding: 1rem;
  width: 100%;
  height: 5rem;
  background-color: aquamarine;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  max-width: 90vw;
  width: 100%;
  background-color: bisque;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.accordion__title {
  text-transform: uppercase;
}

.list {
  padding: 1rem;
  list-style: none;
  width: 100%;
}

.list__item {
  border-top: 0.1rem solid;
}

.list__item-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  font-style: italic;
}

.list__item-image {
  width: 100%;
  scale: 0.8;
  max-height: 0;
  transition: 0.7s ease-in-out;
  order: 3;
}

.list__item-input:checked ~ .list__item-image {
  margin-top: 1rem;
  max-height: 100vh;
  scale: 1;
  transition: max-height 1s ease-in-out;
}

.accordion__list input {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: url("./assets/svg/cross.svg") center center;
  background-size: contain;
  transform: rotate(45deg);
  transition: transform 0.1s ease-in;
  visibility: hidden;
  order: 2;
}

.accordion__list input:checked {
  transform: rotate(0deg);
  visibility: visible;
}

.list__item-label-text {
  order: 1;
}

.list__item-input:checked ~ .list__item-label-text {
  color: blueviolet;
}

.footer {
  width: 100%;
  height: 5rem;
  background-color: cadetblue;
}


@media (hover: hover) and (pointer: fine) {
  .accordion__list:hover, .list__item-label, input  {
    cursor: pointer;
  }

  .accordion__list input:hover {
    transform: rotate(0deg);
  }

  .accordion__list:hover input {
    visibility: visible;
  }

  .accordion__list:hover .list__item-label-text {
    color: blueviolet;
  }

  .list__item-input:hover ~ .list__item-image {
    margin-top: 1rem;
    max-height: 100vh;
    scale: 1;
  }
}